<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.mvc.boardMy.dao.BoardDAO">

	<select id="getCount" resultType="int">
		SELECT count(*) FROM board
	</select>

	<select id="getSearchCount" parameterType="Map" resultType="int">
		SELECT count(*)
		FROM board
		<where>
			<choose>
				<when test="searchType == 'subject'">
					subject LIKE '%' || #{keyword} || '%'
				</when>
				<when test="searchType == 'writer'">
					writer LIKE '%' || #{keyword} || '%'
				</when>
				<when test="searchType == 'content'">
					content LIKE '%' || #{keyword} || '%'
				</when>
			</choose>
		</where>
	</select>
	
	<select id="getArticles" parameterType="Map" resultType="spring.mvc.boardMy.dto.BoardDTO">
		<![CDATA[
		SELECT * FROM (SELECT num, writer, passwd, subject, content, readCnt, ref,
		 ref_step, ref_level, reg_date, ip, rownum rnum FROM (SELECT * FROM board ORDER BY ref DESC, ref_step ASC))
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>

	<select id="getSearchArticles" parameterType="Map" resultType="spring.mvc.boardMy.dto.BoardDTO">
		SELECT *
		FROM (
			SELECT num, writer, passwd, subject, content, readCnt, ref, ref_step, ref_level, reg_date, ip, rownum rnum
			FROM (
				SELECT *
				FROM board
				<where>
					<choose>
						<when test="searchType == 'subject'">
							subject LIKE '%' || #{keyword} || '%'
						</when>
						<when test="searchType == 'writer'">
							writer LIKE '%' || #{keyword} || '%'
						</when>
						<when test="searchType == 'content'">
							content LIKE '%' || #{keyword} || '%'
						</when>
					</choose>
				</where>
				ORDER BY ref DESC, ref_step ASC
			)
		)
		WHERE rnum >= #{start}
		  AND rnum &lt;= #{end}
	</select>
	
	<select id="getArticle" parameterType="int" resultType="spring.mvc.boardMy.dto.BoardDTO">
		SELECT * FROM board WHERE num= #{num}
	</select>
	
	<update id="addReadCnt" parameterType="int">
		UPDATE board SET readCnt= readCnt+1 WHERE num= #{num}
	</update>
	
	<select id="getMaxNum" resultType="int">
		SELECT MAX(num) FROM board
	</select>
	
	<select id="getMaxRefStep" parameterType="int" resultType="int">
		SELECT NVL(MAX(ref_step), 0) FROM board WHERE ref = #{value}
	</select>
	
	<select id="getNextRefStep" parameterType="spring.mvc.boardMy.dto.BoardDTO" resultType="int">
		<![CDATA[
		SELECT NVL(MIN(ref_step), 0)
		FROM board
		WHERE ref = #{ref}
		  AND ref_step > #{ref_step}
		  AND ref_level <= #{ref_level}
		]]>
	</select>
	
	<update id="updateReply" parameterType="spring.mvc.boardMy.dto.BoardDTO">
		<![CDATA[ UPDATE board SET ref_step = ref_step + 1 WHERE ref = #{ref} AND ref_step >= #{ref_step} ]]>
	</update>
	
	<insert id="insert" parameterType="spring.mvc.boardMy.dto.BoardDTO">
		INSERT INTO board(num, writer, passwd, subject, content, readCnt, ref, ref_step, ref_level, reg_date, ip, org_file_name, stored_file_name, file_size)
		VALUES(board_seq.nextval, #{writer}, #{passwd}, #{subject}, #{content}, #{readCnt}, #{ref}, #{ref_step}, #{ref_level}, #{reg_date}, #{ip}, #{org_file_name,jdbcType=VARCHAR}, #{stored_file_name,jdbcType=VARCHAR}, #{file_size,jdbcType=NUMERIC})
	</insert>
	
	<select id="pwdCheck" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM board WHERE num= #{num} AND passwd = #{passwd}
	</select>
	
	<update id="update" parameterType="spring.mvc.boardMy.dto.BoardDTO">
		UPDATE board SET subject= #{subject}, content= #{content}, passwd= #{passwd} WHERE num= #{num}
	</update>
	
	<select id="checkReply" parameterType="spring.mvc.boardMy.dto.BoardDTO" resultType="int">
		<![CDATA[ SELECT COUNT(*) FROM board WHERE ref= #{ref} AND ref_step= #{ref_step} +1 AND ref_level > #{ref_level} ]]>
	</select>
	
	<update id="updateRef_step" parameterType="spring.mvc.boardMy.dto.BoardDTO">
		<![CDATA[ UPDATE board SET ref_step= ref_step -1 WHERE ref= #{ref} AND ref_step > #{ref_step} ]]>
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM board WHERE num= #{num}
	</delete>
</mapper>